[submodule "tests/test-data"]
	path = tests/test-data
	url = https://github.com/fizyr/keras-retinanet-test-data.git
[submodule "labelImg"]
	path = labelImg
	url = https://github.com/tzutalin/labelImg
